.container1 {
    width: calc(100% / 7);
    border: 1px solid #dadce0;
    text-align: center;
    box-sizing: border-box;
    font-size: 30px;
    color: #3c4043;
}

.calendar1  {
    display: flex;
}
li  {
    font-size: 16px;
}
.calendar__dayOfWeek1 {
    border-bottom: 1px solid #dadce0;
    text-align: center;
    box-sizing: border-box;
    color: #70757a;
    font-size: 19px;
    font-weight: 500;
    background: cornsilk;
    line-height: 40px;
}

.calendar__date1    {
    font-family: Roboto, sans-serif;
    font-size: 19px;
    color: #3c4043;
    border-bottom: 1px solid #dadce0;
}